# Ignore build outputs
/Debug/
/Release/
/build/
/out/
/bin/
/obj/

# IDE metadata to ignore
*.launch
*.log
.project.user

.metadata/

# MCUXpresso specific
.settings/*.user.prefs
.settings/org.eclipse.core.resources.prefs

# Other
*.swp
*.swo
*.bak
*.tmp
*.DS_Store # MacOS
Thumbs.db